{{> newPost}}

{{!-- Displays all the logged in user's posts --}}
<div class="d-flex flex-column posts"><!--the container for all the posts should be in column form-->
    {{#if posts.length}}
    {{#each posts as |post|}}
    <div class="d-block mt-3">
        <div class="post-header d-flex flex-row align-items-baseline justify-content-between pt-1">
            <h2 class="col-6 ps-1">
                <a href="/post/{{post.id}}" class="dashboard-post-title">{{post.title}}</a>
            </h2>
            <h5 class="pe-2">
                created on {{format_date post.createdAt}}
            </h5>
        </div>
        <div class="post-main">
            <p class="dashboard-post-body pt-1 ps-1">
                {{post.body}}
            </p>
            <div class="d-flex justify-content-end">
                <button data-id={{post.id}} class="edit-post-button pb-1 ps-2 mb-1 me-1">
                    <img id="edit-post" src="/images/edit-Freepik-32px.png" alt="Edit icon">
                </button>
                <button data-id={{post.id}} class="delete-post-button mb-1 me-1">
                    <img src="/images/delete-Freepik-32px.png" alt="Delete icon">
                </button>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h2 class="text-center">You have no posts</h2>
    {{/if}}
</div>

{{> editPost}}

{{!-- Button for making a new Post --}}
<div class="buttons mt-2 d-flex justify-content-end">
    <button class="new-post-button">
        <img src="/images/new_post-Icon_Hubs-32px.png" alt="New Post Icon">
    </button>
</div>

{{!-- Provides function to making a new post or editing/deleting current one --}}
<script src="/js/post.js"></script>