<div class="d-flex flex-column"><!--the container for all the posts should be in column form-->
    {{#each posts as |post|}}
    <div class="d-block mt-3">
        <div class="post-header d-flex flex-row align-items-baseline justify-content-between pt-1">
            <h2 class="homepage-post-title col-6 ps-1">
                <a href="/post/{{post.id}}">{{post.title}}</a>
            </h2>
            <h5 class="pe-2">
                created by {{post.user.username}} on {{format_date post.createdAt}}
            </h5>
        </div>
        <div class="post-main">
            <p class="homepage-post-body pt-1 ps-1">
                {{post.body}}
            </p>
            <div class="d-flex justify-content-end">
                <button class="add-comment-button mb-1 me-1">
                    <img id="add-comment" src="/images/comment-yaicon-32px.png" alt="Add comment icon">
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>