<div class="d-flex flex-column"><!--the container for all the posts should be in column form-->
    <div class="d-block mt-3">
        <div class="post-header d-flex flex-row align-items-baseline justify-content-between pt-1 ps-3">
            <h2 data-id={{id}} class="post-title ps-1">
                {{title}}
            </h2>
            <h5 class="pe-2">
                created by {{user.username}} on {{format_date createdAt}}
            </h5>
        </div>
        <div class="post-main">
            <p class="homepage-post-body ps-3 pt-3 pb-3">
                {{body}}
            </p>
        </div>

        {{!-- add new comment button --}}
        <div class="d-flex justify-content-end">
            <button class="comment-form-btn mb-1 me-1">
                <img src="/images/comment-yaicon-32px.png" alt="Add comment icon">
            </button>
        </div>

        {{!-- New Comment form --}}
        <form id="add-comment-form" class="post-form mt-3 d-flex flex-column d-none">
            <h2>Add Comment</h2>
            <label class="w-100 mt-2">Content:</label>
            <textarea type="text" id="comment-content" class="form-control input-group mt-2" rows="5"
                aria-label="Post Contents" aria-describedby="basic-addon1">{{comment.body}}</textarea>
            <div class="buttons mt-2 d-flex justify-content-end">
                {{!-- go back = reactivate new Post icon/dashboard's other posts if there is any --}}
                <button class="back-button me-2">Go Back</button>
                {{!-- post = PUT route to update post --}}
                {{#if logged_in}}
                <button class="add-comment-button ps-3 pe-3">Add</button>
                {{else}}
                <button class="log-in-button ps-3 pe-3"><a href="/login">Log In</a></button>
                {{/if}}
            </div>
        </form>

        {{!-- comment template --}}
        <div class="d-flex flex-column comments"><!--the container for all the comments should be in column form-->
            {{#if comments.length}}
            {{#each comments as |comment|}}
            <div class="d-block mt-3">
                <div class="comment-header d-flex flex-row align-items-baseline justify-content-between pt-1">
                    <h5 class="ps-2">{{comment.user.username}}</h5>
                    <h5 class="pe-2">
                        created on {{format_date comment.createdAt}}
                    </h5>
                </div>
                <div class="comment-main">
                    <p class="comment-body pt-1 ps-2">
                        {{comment.body}}
                    </p>
                    <div class="d-flex justify-content-end">
                        <button data-id={{comment.id}} class="edit-comment-button pb-1 ps-2 mb-1 me-1">
                            <img id="edit-comment" src="/images/edit-Freepik-32px.png" alt="Edit icon">
                        </button>
                        <button data-id={{comment.id}} class="delete-comment-button mb-1 me-1">
                            <img src="/images/delete-Freepik-32px.png" alt="Delete icon">
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <h2 class="text-center">You have no comments</h2>
            {{/if}}
        </div>

        {{!-- Edit Comment form --}}
        <form id="edit-comment-form" class="post-form mt-3 d-flex flex-column d-none">
            <h2>Add Comment</h2>
            <label class="w-100">Title:</label>
            <input type="text" id="comment-title" class="form-control input-group mt-2" aria-label="Comment Title"
                aria-describedby="basic-addon1">
            <label class="w-100 mt-2">Content:</label>
            <textarea type="text" id="comment-content" class="form-control input-group mt-2" rows="5"
                aria-label="Post Contents" aria-describedby="basic-addon1">{{comment.body}}</textarea>
            <div class="buttons mt-2 d-flex justify-content-end">
                {{!-- go back = reactivate new Post icon/dashboard's other posts if there is any --}}
                <button class="back-button me-2">Go Back</button>
                {{!-- post = PUT route to update post --}}
                <button class="update-button ps-3 pe-3">Update</button>
            </div>
        </form>

    </div>
</div>


<script src="/js/comment.js"></script>